/************new menu************************/
.daohang {
    background: url("images/dhbg.jpg") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    width:1024px;
    margin-bottom: 10px;
}
.daohang ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.daohang li {
    display: inline;
    margin-left: 30px;

}

.daohang ul li a{
    font-size:14px;
    color:white;
}